  
    <div class="count"><%= current_user.nickname %>さんの単語帳は<%= @total_posts %>枚です</div>
    <div class="words_contents">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <form class="search_container" action="<%= search_words_path %>" method="get">
        <input type="text" size="25" name="keyword" class="search-input">
        <input type="submit" value="&#xf002">
        <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
      </form>
        <div class="sort">
        <%= link_to '新しい順', user_path(latest: "true") %>
        ｜
        <%= link_to '古い順', user_path(old: "true") %>
        ｜
        <%= link_to 'ランダム', user_path(random: "true") %>
        </div>
      </div>
    </div>
    <div class="contents row">
      <% @words.where(user_id: current_user.id).each do |word| %>
      <%= render partial: "words/word", locals: { word: word } %>
      <% end %>
      <div class="page"><%= paginate @words %></div>
    </div>