<%= form_with(model: @word, local: true) do |form| %>
  <%= form.text_field :korean, placeholder: "Korean" %>
  <% if @word.errors.include?(:korean) %>
    <p class="error-message"><%= @word.errors[:korean].first %></p>
  <% end %>
  <%= form.text_field :japanese, placeholder: "Japanese" %>
  <% if @word.errors.include?(:japanese) %>
    <p class="error-message"><%= @word.errors[:japanese].first %></p>
  <% end %>
  <%= form.submit "登録する" %>
  <% end %>
  <%= link_to "<<戻る", user_path(current_user), class: "back-button" %>