<div class="count">
  <% if user_signed_in? %>
    <% user_posts = current_user.words.search(params[:keyword]) %>
    "<%= params[:keyword] %>"の検索結果は<%= user_posts.size %>件です
  <% end %>
</div>
  <div class="words_contents">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <form class="search_container" action="<%= search_words_path %>" method="get">
    <input type="text" size="25" name="keyword" class="search-input">
    <input type="submit" value="&#xf002">
    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
  </form>
    <div class="count"><%= link_to "単語帳へ戻る", user_path(current_user), class: "post bordered-link"%></div>
</div>
  <div class="contents row">
    <% @words.each do |word| %>
      <% if current_user.id == word.user_id %>
      <%= render partial: "users/word", locals: { word: word } %>
      <% end %>
    <% end %>
  </div>