<!DOCTYPE html>
<html>
  <head>
    <title>KitWords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">KITwords</a></h1>
        <% if user_signed_in? %>

          <div class="user_nav grid-6">

          <span><%= "#{current_user.nickname}さん" %>
          <ul class="user__info">
            <li>
              <%= link_to "マイページ", users_path(current_user.id) %>
            </li>
            <% if current_page?(root_path) %>
              <% menu_links = [
                { label: "単語帳", path: user_path(current_user) },
                { label: "韓韓辞書", path: dictionaries_path(current_user) }
              ] %>
            <% elsif current_page?(user_path(current_user)) %>
              <% menu_links = [
                { label: "Quiz", path: root_path },
                { label: "韓韓辞書", path: dictionaries_path(current_user) }
              ] %>
            <% else %>
              <% menu_links = [
                { label: "Quiz", path: root_path },
                { label: "単語帳", path: user_path(current_user) }
              ] %>
            <% end %>

            <% menu_links.each do |link| %>
              <li>
                <%= link_to link[:label], link[:path] %>
              </li>
            <% end %>

            <li>
              <%= link_to "退会", user_path(current_user.id), class: "destroy-user", method: :delete, "data-confirm" => "本当に退会しますか？" %>
            </li>
          </ul>

          </span>
          <%= link_to "log out", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>
    <footer>
      <p>
        ©️ KITwords 2023.
      </p>
    </footer>
  </body>
</html>
